/**
Color schemes:-
https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557
**/

:root {
    --main-max-width: 1000px;

    --color-1: #E63946;
    --color-2: #F1FAEE;
    --color-3: #A8DADC;
    --color-4: #457B9D;
    --color-4a: #054e72c0;
    --color-4b: #64acda;
    --color-5: #1D3557;
    --color-6: #94a1a8;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

/* Resuable component */
.reset-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.code,
.hash-tag {
    color: var(--color-4b);
}

/* CSS start */
body {
    font-family: 'Open Sans', sans-serif;
    margin-top: 60vh;
}

body>header {
    top: 0;
    z-index: -100;
    position: fixed;
    width: 100%;
    display: flex;
    padding: 10px;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(174,720,398)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='504' height='420' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

/* Header text & Image */
section.me {
    color: #444;
    padding: 20px 50px;
    background-color: #ffffff50;
    border: 1px solid #ececec;
    display: flex;
    -moz-column-gap: 10px;
    column-gap: 10px;
}

section.me div.text {
    /* border: 1px solid black; */
    padding: 0 10px;
}

section.me .name {
    padding: 20px 0;
}

section.me .name h1 {
    font-size: 2em;
    letter-spacing: 4px;
}

section.me .name h3 {
    color: #777;
    font-weight: 500;
    letter-spacing: 2px;
}

section.me .title {
    padding: 10px 0;
}

section.me .title h1.delay_animation {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

/* Picture */
section.me div.image {
    display: flex;
    align-items: center;
    justify-items: center;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    overflow: hidden;
    perspective: 1;
    border: 4px solid #94949480;
}

section.me div.image img {
    max-width: 100%;
    -ms-transform: scale(1.3) translate(5px, 10px);
    -webkit-transform: scale(1.3) translate(5px, 10px);
    transform: scale(1.3) translate(5px, 10px);
}

/* Navigation bar */
nav {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    /* background-color: #94a1a8; */
    background-color: var(--color-4);
    z-index: 1000;
    transition: all 500ms ease-in;
}

nav.scrolled {
    background-color: var(--color-4a);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
    justify-content: flex-start;
    max-width: var(--main-max-width);
}

nav ul li {
    margin: 0 5px;
    padding: 12px 10px;
}

nav ul li a {
    color: whitesmoke;
    display: block;
    font-weight: bold;
    border-top: 2px solid transparent;
    transition: all 200ms ease-out;
}

nav ul li a.active {
    border-top: 2px solid #F4F4F9;
}

nav ul li a:hover {
    color: white;
    -webkit-animation: headShake;
    animation: headShake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    border-top: 2px solid #F4F4F9;
}


/* Main content container (only one a page) */
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* padding: 20px 10px; */
    padding-top: 50px;
    background-color: white;
    align-items: center;
}

main>section.content {
    min-height: 1000px;
    min-height: 500px;
    width: 100%;
    max-width: var(--main-max-width);
    padding: 10px;
}

main>section.content>* {
    color: #2F4550;
    padding: 20px;
    margin: 10px 0;
}

/*  ***MAIN PAGE***  */

/* About me/Introduction */
section.content .about {
    text-align: center;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 15px;
    /* border: 1px solid #dadada; */
    /* box-shadow: 0px 2px 5px -5px black; */
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
}

.about p {
    padding: 10px;
    line-height: 2;
    -webkit-animation: fadeIn;
    animation: fadeIn;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

/* Skills showcase section */
section.content .skillset {
    display: flex;
    color: #444;
    margin: 150px 0;
    padding: 20px 10px;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    background-color: whitesmoke;
    background-color: white;
    box-shadow: 0px 2px 5px -5px black;
}

.skillset .col {
    flex: 1;
    margin: 0;
    padding: 10px;
}

.skillset .col.frameworks {
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.skillset .col h2 {
    color: white;
    padding: 5px;
    text-align: center;
    background-color: var(--color-4);
}

.skillset .col ul {
    list-style: none;
    text-align: center;
}

.skillset .col ul li {
    color: #555;
    padding: 10px;
    margin: 5px 0;
}

/* Social Media Connection */
section.content .connect {
    margin-top: 150px;
    box-shadow: 0px -2px 5px -5px black;
}

.connect h1 {
    color: var(--color-4);
    text-align: center;
    padding: 20px 10px;
    font-size: 2em;
}

.connect .sm-container {
    padding: 20px;
}

.sm-container ul.socialmedia {
    display: flex;
    list-style: none;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #777;
}

.sm-container ul.socialmedia li {
    margin: 0 2px;
    padding: 7px;
    opacity: .7;
    flex: 1;
    text-align: center;
}

.sm-container ul.socialmedia li:hover {
    opacity: 1;
}

.sm-container ul.socialmedia li.linkedin a {
    color: #0073b1;
}

.sm-container ul.socialmedia li.github a {
    color: #24292e;
}

.sm-container ul.socialmedia li.twitter a {
    color: #1da1f2;
}

/* Contact Form */
.connect .sendmessage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.sendmessage form {
    width: 100%;
    max-width: 500px;
}

.sendmessage form>div {
    margin: 10px 0;
}

.sendmessage form>div>* {
    display: block;
    width: 100%;
}

.sendmessage form>div>label {
    color: #777;
    padding: 10px 0;
    font-weight: bold;
}

.sendmessage form>div>input,
.sendmessage form>div>textarea {
    font-family: inherit;
    font-size: 1em;
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.sendmessage form>div>textarea {
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    max-width: 100%;
    min-width: 100%;
}

.sendmessage form .submit {
    cursor: pointer;
    color: var(--color-2);
    background-color: var(--color-5);
}

/*  ***PROJECTS PAGE***  */

/* projects list */
section.content>header.project-title {
    background-color: #d4d4d45d;
    border-radius: 10px;
    margin: 0 50px;
}

section.content>header.project-title h1 {
    color: #535353;
    text-align: center;
}

section.project-container {
    margin: 0 auto;
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

article.project {
    margin: 50px 20px;
    width: 100%;
    max-width: 400px;
    /* border: 4px solid #888; */
    /* box-shadow: 0px 0px 2px 0px black; */
    border: 2px solid #ddd;
    box-shadow: 0px 0px 20px -10px #5a5a5a;
}

article.project header {
    cursor: default;
}

article.project header h1 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

article.project section.image-container {
    border-bottom: 1px solid #ccc;
}

article.project section.image-container img {
    display: block;
    max-width: 100%;
}

article.project footer>p {
    padding: 10px;
}

article.project footer p.hash-tag {
    font-size: .9em;
    text-align: left;
}

article.project footer p.description {
    padding: 20px 10px;
}

article.project footer .links {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
}

article.project footer .links a {
    text-transform: uppercase;
    font-weight: bolder;
    color: #333;
}

article.project footer .links a.unavail {
    cursor: not-allowed;
}

article.project footer .links a:hover {
    color: #777;
}

/* Top level footer */
body>footer {
    color: var(--color-6);
    padding: 10px;
    text-align: center;
    background-color: #f7f7f7;
}

/* Mobile Style */
@media only screen and (max-width: 600px) {
    section.me {
        padding: 30px 10px;
        flex-direction: column-reverse;
        align-items: center;
    }

    section.content .skillset {
        flex-direction: column;
    }

    .skillset .col {
        margin: 20px 0;
    }

    .skillset .col.languages {
        border-bottom: 1px solid lightgray;
    }

    .skillset .col.frameworks {
        border: none;
        border-bottom: 1px solid lightgray;
    }

    section.content .connect {
        padding: 0;
    }

    section.content .connect>* {
        padding: 20px 2px;
    }

    section.content>header.project-title {
        margin: 0;
    }

    article.project {
        margin: 50px 0px;
    }
}